doctype html
html

    head

        meta(charset="utf-8")

        link(rel="stylesheet" href="css/bootstrap-grid.min.css")
        link(rel="stylesheet" href="css/display.css")

        title Patient Monitor

    body

        section#app

            .container.ecg
                .row.content
                    .col.col-xs-12
                        img(v-bind:src="core.emt_current.src")

            .container.status
                .row.content
                    .col-xs-12.col-sm-6.col-md-3(v-for="(item, index) in core.input")
                        .block(v-bind:id="index" v-bind:class="['item-' + (index + 1)]" v-bind:visible="item.data ? true : false")
                            .label {{ item.name }}
                            .value {{ item.data ? item.data : '&nbsp;' }}

        //- external scripts
        script(src="js/jquery-3.1.1.min.js")
        script(src="js/lodash.min.js")
        script(src="js/vue.min.js")

        //- internal scripts
        script(src="js/core.js")
        script(src="js/display.js")
